
//Draggable element container
.drag-component-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6px;
    padding: 10px 14px;
    box-sizing: border-box;
    overflow: hidden;
}

//Draggable Element
.element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgba($color: #3DC38B, $alpha: 0.5);

    img {
        width: 75px;
        height: 75px;
        border: 1px solid black;
        border-radius: 999rem;
    }

    h3 {
        font-size: 14px;
        margin: 0;
        padding: 0 !important;
    }

    &:hover {
        cursor: grab;
    }
}