@import "../styles/variables.scss";

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40dvh;
    width: 100%;
    padding: 10px 14px 4px 10px;
    box-sizing: border-box;

    .footer {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-image: url("../../assets/misc/footer-desktop.svg");
        background-position: 450px 20px;
        background-size: contain;
        background-color: $color-diplomats;
        overflow: hidden;
        
        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 30%;
            box-sizing: border-box;
            background-color: $color-diplomats;

            h4 {
                margin: 10px 32px 0 32px;
                font-size: 54px;
            }

            p {
                margin: 0px 32px;
                font-size: 18px;
            }

            .list-container {
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0px 0px 32px;
                padding-right: 32px;
                gap: 20px;               

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    padding: 0;
                    list-style-type: none;
    
                    a {
                        color: #151515;
                        font-weight: 500;
                        font-size: 16px;
                        text-decoration: none;
                    }
                
                }
            }

            .icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: fit-content;
                margin: 0;
                padding: 100px 0;
                background-color: red;
            }
        }
    }
}
@media screen and (max-width: 767px) { 
    .footer-container {
        padding: 10px;

    .footer {
        padding: 14px;
        box-sizing: border-box;
        border-radius: 10px;
        background-position: center;
        background-size: cover;

            .container {
                width: 100%;
                height: 100%;
                justify-content: center;
                color: #151515;
                border-radius: 10px;
                box-sizing: border-box;
                -webkit-backdrop-filter: blur(6px);
                backdrop-filter: blur(6px);
                background-color: transparent;
                border: 3px solid black;
                
                h4 {
                    font-size: 24px;
                    font-weight: 400;
                }

                p {
                    font-size: 12px;
                }

                .list-container {
                    justify-content: space-evenly;
                    padding-right: 0;
                    gap: 0px;               

                    ul {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        padding: 0;
                        list-style-type: none;
        
                        a {
                            color: #151515;
                            font-weight: 400;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}