$color-purple-light: #e7dfea;
$color-green-light: #d6ece3;
$color-blue-light: #d9eaf0;
$color-yellow-light: #f9eed7;

$color-purple: #88619a;
$color-green: #33a474;
$color-blue: #4298b4;
$color-yellow: #e4ae3a;

$font-dmsans: "DmSans";

.navbar-container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    padding: 4px 14px;
    box-sizing: border-box;
    font-family: $font-dmsans;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 999rem;
    background-color: $color-yellow;

    .navbar-brand {
        position: relative;
        display: flex;
        gap: 4px;
        margin: 0 0 0 5%;

        img {
            width: 32px;
            height: 32px;
        }

        h1 {
            font-size: 28px;
            font-weight: normal;
        }

        &>* {
            margin: 0;
        }
    }

    .navbar-list {
        display: flex;
        list-style-type: none;
        margin: 0 5% 0 0;
        gap: 48px;

        li {
            font-size: 18px;
            transition: transform 0.4s ease;
            
            a {
                color: #151515;
                text-decoration: none;
                transition: color 0.3s ease;

            }

            &:hover {
                transform: scale(1.10);
            }

            &:hover a {
                color: #f0f0f0;
            }
        }
    }
}

  

  

 