$color-red: #ff595e;
$color-yellow: #ffca3a;
$color-green: #8ac926;
$color-blue: #1982c4;
$color-purple: #6a4c93;

$color-analysts: #88619a;
$color-diplomats: #33a474;
$color-sentinals: #4298b4;
$color-entertainers: #e4ae3a;